.DS_Store
/build
node_modules
/dist
package-lock.json
.vscode
scratch.*
*.out
*.built
__pycache__
builders
.idea
python/build
python/dist
*.egg-info
setup.cfg
.uploaded
javascript/proto
python/docs/_build
javascript/docs
example.db*
*gink.db*
venv
data.json
