.DS_Store
/build
node_modules
/dist
.vscode
scratch.*
*.out
*.built
__pycache__
builders
.idea
python/build
python/dist
*.egg-info
setup.cfg
.uploaded
javascript/proto
javascript/content_root/generated
python/docs/_build
javascript/docs
example.db*
*gink.db*
sqlite.db
venv
data.json
*.db
*.db-lock
