/* HTML Elements */
html,
body {
    margin: 0;
    width: 100svw;
    height: 100svh;
}

/* IDs */
#container-contents {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

#title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
}

/* Classes */
.container-box {
    width: 100%;
    height: 100%;
}
