body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    height: 4rem;
    align-items: center;
    background: gray;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

nav a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-left: 50px;
}

#dashboard-page {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#all-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 80vw;
    height: 80vh;
    margin-top: 3rem;
}

.key-val-container {
    display: flex;
    flex-direction: row;
}