/* HTML Elements */
html,
body {
    margin: 0;
    width: 100svw;
    height: 100svh;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin-top: 1rem;
    width: 80%;
    max-height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

td {
    width: 50%;
    word-break: break-all;
    text-align: center;
    border-right: 1px solid black;

}

a {
    text-decoration: none;
    color: black;
}

/* IDs */
#root {
    height: 100svh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    font-size: clamp(20px, 1vw, 48px);
}

#page-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
}

#cancel-button {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
}

#add-entry-container {
    text-align: center;
}

#view-entry {
    margin-top: 3rem;
    text-align: center;
    width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

#commit-button {
    width: 8rem;
    margin-top: 3rem;
}

#update-delete-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 15rem;
}

#pair-key-container {
    display: flex;
}

/* Classes */

.page-btn {
    cursor: pointer;
}

.no-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.commit-input {
    width: 15rem;
    height: 3rem;
}

.entry-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-row:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px black;
}
